/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-group.page-title-icon
        %h2 Groepen /
        %p Een lijst van alle groepen
        =link_to new_group_path, class: "btn btn-custom" do
          %i.icon-plus
          =" Nieuwe groep"
/ Content
.container.content
  .row
    .span12
      %table.table
        %tr
          %th Titel
          %th Beschrijving
          %th Leden

        - @groups.each do |group|
          %tr{id: "#{group.id}", class: "group"}
            %td= group.title
            %td= group.description
            %td= "Jij, " + group.users.map{|u| u.username }.join(" , ")
          %tr.separator
      %br

:javascript
  $('table').on('click', 'tr', function() {
    id = $(this).attr("id");
    url = "#{groups_url}/"+id;
    window.location = url;
  });