/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-group.page-title-icon
        %h2 Groepen /
        %p Een lijst van alle groepen
        =link_to new_group_path, class: "btn btn-custom" do
          %i.icon-plus
          =" Nieuwe groep"
/ Content
.container.content
  .row
    .span12
      %h2 Groepen van jou:
      - unless @my_groups.empty?
        %table.table
          %tr
            %th Titel
            %th Beschrijving
            %th Leden

          - @my_groups.each do |group|
            %tr{id: "#{group.id}", class: "group"}
              %td= group.title
              %td= group.description
              %td= "#{group.users.map{|u| u.username }.join(" , ")}"
            %tr.separator
      - else
        Nog geen eigen groepen klik
        =link_to "hier", new_group_path
        om er een aan te maken!
        %br
      - unless @other_groups.empty?
        %h2 Groepen waar je in zit:
        %table.table
          %tr
            %th Titel
            %th Beschrijving
            %th Leden

          - @other_groups.each do |group|
            %tr{id: "#{group.id}", class: "group"}
              %td= group.title
              %td= group.description
              %td= "#{group.owner.username}, #{group.users.map{|u| u.username }.join(" , ")}"
            %tr.separator

:javascript
  $('table').on('click', 'tr', function() {
    id = $(this).attr("id");
    url = "#{groups_url}/"+id;
    window.location = url;
  });