/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-group.page-title-icon
        %h2= @group.title + " /"
        %p
          %i.icon-star-empty
          %strong= "#{@group.owner.username}, "
          = @group.users.collect(&:username).join(', ')
        = link_to groups_path, class: "btn btn-custom" do
          %i.icon-arrow-left
          = " Terug"
        - if current_user == @group.owner || current_user.admin
          =link_to edit_group_path(@group), class: "btn btn-custom" do
            %i.icon-edit
            =" Bewerken"
        - else
          = link_to leave_group_path(@group), :data => { :confirm => 'Weet je het zeker?' }, class: "btn btn-custom" do
            %i.icon-remove
            = " Groep verlaten"
/ Users container
.container.users
  .row
    .span12
      %p
        %b Title:
        = @group.title
      %p
        %b Description:
        = @group.description
      %p
        %b Owner:
        = @group.owner.username
      %p
        %b Members:
        = @group.users.collect(&:username).join(', ')

      = link_to 'Edit', edit_group_path(@group)
      \|
      = link_to 'Back', groups_path
