%p#notice= notice

%p
  %b Title:
  = @group.title
%p
  %b Description:
  = @group.description
%p
  %b Owner:
  = @group.owner.username
%p
  %b Members:
  = @group.users.collect(&:username).join(', ')

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
