/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-user.page-title-icon
        %h2 #{@user.username} /
        %p Hieronder is profielinformatie te vinden
        - if has_rights?(@user)
          =link_to edit_user_registration_path, :class => "btn btn-custom" do
            %i.icon-edit
            Bewerk profiel
        - unless current_user == @user
          - unless current_user.friends.include?(@user)
            =link_to friendships_path(:friend_id => @user), :method => :post, :class => "btn btn-custom" do
              %i.icon-heart
              Toevoegen als vriend
          - else
            =link_to @friendship, :method => :delete, :class => "btn btn-custom" do
              %i.icon-heart-empty
              Verwijderen als vriend
/ Profile container
.container.users
  .row
    .span12.center
      .what-we-do.container
        .row
          .service.span3
            .icon-awesome
              %i.icon-flag
            %h4 Deelgenomen goals
            %p.nice= @user.goals.count
          .service.span3
            .icon-awesome
              %i.icon-thumbs-up
            %h4 Aantal voltooid
            %p.nice= @user.completions.count
          .service.span3
            .icon-awesome
              %i.icon-heart
            %h4 Vrienden
            %ul
              - for friendship in @user.friendships
                %li= link_to friendship.friend.username, friendship.friend
              - if current_user == @user
                %li
                  %strong= link_to "(Vriend toevoegen)", users_path
          .service.span3
            .icon-awesome
              %i.icon-heart-empty
            %h4 Andermans vriend
            %ul
              - for user in @user.inverse_friends
                %li=link_to user.username, user
        .row
          .service.span12
            .icon-awesome
              %i.icon-trophy
            %h4 Voltooide goals
            %table.table
              %tr
                %th Voltooid op
                %th Titel
                %th Groep

              - @user.completions.map{|c| c.goal}.each do |goal|
                %tr{id: "#{goal.id}", class: "group", "data-group" => "#{goal.group.id}"}
                  %td
                    1:00:00
                  %td= goal.title
                  %td= goal.group.try(:title)

:javascript
  $('table').on('click', 'tr', function() {
    group_id = $(this).attr("data-group");
    id = $(this).attr("id");
    url = "#{groups_url}/"+group_id+"/goals/"+id;
    window.location = url;
  });
