/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-user.page-title-icon
        %h2 #{@user.username} /
        %p Hieronder is profielinformatie te vinden
        - if has_rights?(@user)
          =link_to edit_user_registration_path, :class => "btn btn-custom" do
            %i.icon-edit
            Bewerk profiel
        - unless current_user == @user
          - unless current_user.friends.include?(@user)
            =link_to friendships_path(:friend_id => @user), :method => :post, :class => "btn btn-custom" do
              %i.icon-heart
              Toevoegen als vriend
          - else
            =link_to @friendship, :method => :delete, :class => "btn btn-custom" do
              %i.icon-heart-empty
              Verwijderen als vriend
/ Profile container
.container.users
  .row
    .span4
      %h2 Gebruikersinfo
      %ul
        %li
          %strong Username:
          - if @user.admin
            %i.icon-star
          #{@user.username}
        %li
          %strong Email:
          #{@user.email}
        %li
          %strong Voornaam:
          #{@user.first_name}
        %li
          %strong Achternaam:
          #{@user.last_name}
        %li
          %strong Geslacht:
          #{@user.gender if @user.gender}
        %li
          %strong Geboortedatum:
          #{@user.date_of_birth if @user.date_of_birth}
    .span4
      %h2 Vrienden
      %ul
        - for friendship in @user.friendships
          %li
            = link_to friendship.friend.username, friendship.friend
            \ -
            -if current_user == @user
              (#{link_to "verwijder", friendship, :method => :delete})
        - if current_user == @user
          %li
            %strong= link_to "(Vriend toevoegen)", users_path
    .span4
      %h2 Heeft je als vriend
      %ul
        - for user in @user.inverse_friends
          %li=link_to user.username, user

