/ Slider
.slider
  .container
    .row
      .span10.offset1
        .flexslider
          %ul.slides
            %li{"data-thumb" => "/assets/slider/1.jpg"}
              =image_tag ("slider/1.jpg")
              %p.flex-caption Registreer en maak een nieuw account aan.
            %li{"data-thumb" => "/assets/slider/2.jpg"}
              =image_tag ("slider/2.jpg")
              %p.flex-caption Zoek vrienden en maak groepen aan.
            %li{"data-thumb" => "/assets/slider/3.jpg"}
              =image_tag ("slider/3.jpg")
              %p.flex-caption Stel goals samen met verschillende doeleinden en beloningen.
            %li{"data-thumb" => "/assets/slider/4.jpg"}
              =image_tag ("slider/4.jpg")
              %p.flex-caption Voltooi ze samen en motiveer elkaar!
/ Site Description
.presentation.container
  %h2
    %span.violet Motiveer
    jezelf, motiveer anderen, motiveer elkaar!
  %p
    Met
    %span.violet Motivate Me
    proberen we mensen elkaar te laten motiveren.

/ Latest Goals
- if user_signed_in?
  .portfolio.container
    .portfolio-title
      %h3 Laatste goals
    .row.center
      - @goals.each do |goal|
        .work.span3
          %h4= goal.title
          %p= goal.description
          %p Deelnemers: #{goal.users.count}

/ Testimonials
.testimonials.container
  .testimonials-title
    %h3 Testimonials
  .row
    .testimonial-list.span12
      .tabbable.tabs-below
        .tab-content
          #A.tab-pane.active
            = image_tag "testimonials/1.jpg"
            %p
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur..."
              %br/
              %span.violet Lorem Ipsum, dolor.co.uk
          #B.tab-pane
            = image_tag "testimonials/2.jpg"
            %p
              "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."
              %br/
              %span.violet Minim Veniam, nostrud.com
          #C.tab-pane
            = image_tag "testimonials/3.jpg"
            %p
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur..."
              %br/
              %span.violet Lorem Ipsum, dolor.co.uk
          #D.tab-pane
            = image_tag "testimonials/1.jpg"
            %p
              "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."
              %br/
              %span.violet Minim Veniam, nostrud.com
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#A"}
          %li
            %a{"data-toggle" => "tab", :href => "#B"}
          %li
            %a{"data-toggle" => "tab", :href => "#C"}
          %li
            %a{"data-toggle" => "tab", :href => "#D"}
