= simple_form_for @goal, html: { class: "form-horizontal" }, defaults: { input_html: { class: 'span7' } }  do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :reward

  .form-actions
    = f.button :submit, "Goal aanmaken", class: "btn btn-custom"
