/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-flag.page-title-icon
        %h2 Goals /
        %p Een lijst van alle goals
        .btn-group.pull-right
          %a.btn.dropdown-toggle.btn-custom{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-plus
            =" Nieuwe goal"
            %span.caret
          %ul.dropdown-menu.dropdown-custom
            %li
              = link_to new_goal_path do
                %i.icon-user
                Persoonlijk goal
            %li
              %a{href: "#"}
                %i.icon-group
                Groeps goal
/ Content
.container.content
  .row
    .span12
      %table.table
        %tr
          %th Icoon
          %th Tijd
          %th Titel
          %th Beschrijving
          %th Beloning
          %th Deelnemers

        - @goals.each do |goal|
          %tr{id: "#{goal.id}", class: "group"}
            %td
              %i.icon-flag
            %td
              1:00:00
            %td= goal.title
            %td= goal.description
            %td= goal.reward
            %td= goal.users.map{|u| u.username }.join(" , ")
          %tr.separator
      %br

:javascript
  $('table').on('click', 'tr', function() {
    group_id = "#{@group.id}"
    id = $(this).attr("id");
    url = "#{groups_url}/"+group_id+"/goals/"+id;
    window.location = url;
  });