/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-flag.page-title-icon
        %h2 Goal /
        %p=@goal.title
        =link_to goals_path, class: "btn btn-custom" do
          %i.icon-arrow-left
          =" Terug"
        = link_to edit_goal_path(@goal), class: "btn btn-custom" do
          %i.icon-edit
          = " Bewerken"
/ Content
.container.content
  .row
    .span12

      %p
        %b Title:
        = @goal.title
      %p
        %b Description:
        = @goal.description
      %p
        %b Reward:
        = @goal.reward
      %p
        %b Users:
        %ul
        - @goal.users.each do |user|
          %li
            = user.username
            - unless @goal.complete(user)
              = link_to "approve!", completions_path(:user_id => user, :group_id => @group, :goal_id => @goal), :method => :post
            - else
              = link_to "delete", completion_path(user.completion(@goal), :user_id => user, :group_id => @group, :goal_id => @goal), :method => :delete
      = link_to 'Edit', edit_goal_path(@goal)
      \|
      = link_to 'Back', goals_path
