/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-flag.page-title-icon
        %h2= link_to @group.title + " /", @group
        %p=@goal.title
        =link_to group_goals_path(@group), class: "btn btn-custom" do
          %i.icon-arrow-left
          =" Terug"
        = link_to edit_group_goal_path(@group, @goal), class: "btn btn-custom" do
          %i.icon-edit
          = " Goal bewerken"
/ Content
.container.content
  .row
    .span12.center
      .what-we-do.container
        .row
          .service.span3
            .icon-awesome
              %i.icon-file-alt
            %h4 Beschrijving
            %p= @goal.description
          .service.span3
            .icon-awesome
              %i.icon-trophy
            %h4 Beloning
            %p= @goal.reward
          .service.span3
            .icon-awesome
              %i.icon-thumbs-up
            %h4 Aantal voltooid
            %p= @goal.completions.count
          - if @goal.active && !@goal.expired?
            .service.span3
              .icon-awesome
                %i.icon-time
              %h4 Resterende tijd
              #countDownTimer
          - elsif @goal.active && @goal.expired?
            .service.span3
              .icon-awesome
                %i.icon-ban-circle
              %h4 Verlopen op
              %p= @goal.endtime.strftime("%d %m %Y - %H:%M")
          - else
            .service.span3
              .icon-awesome
                %i.icon-ok
              %h4 Voltooid op
              %p= @goal.completed_on.strftime("%d %m %Y - %H:%M")

      %h3 Deelnemers:
  .row
    .span12
      %ul.goal-users
        - @goal.users.each do |user|
          %li.user
            %ul
              %li
                Behaald:
                - unless @goal.complete(user)
                  %i.icon-remove
                - else
                  %i.icon-ok
              %li.name
                =link_to user.username, user
              - unless current_user == user || !@goal.active || @goal.expired?
                %li.link
                  - unless @goal.complete(user)
                    = link_to completions_path(:user_id => user, :group_id => @group, :goal_id => @goal), :method => :post do
                      %i.icon-ok-sign
                      Goedkeuren
                  - else
                    = link_to completion_path(user.completion(@goal), :user_id => user, :group_id => @group, :goal_id => @goal), :method => :delete do
                      %i.icon-minus-sign
                      Goedkeuring intrekken

:javascript
  $(document).ready(function(){
    var element = '#countDownTimer';
    var year = #{@goal.endtime.year};
    var month = #{@goal.endtime.month}-1;
    var day = #{@goal.endtime.day};
    var hour = #{@goal.endtime.hour};
    var minute = #{@goal.endtime.min};
    var second = #{@goal.endtime.sec};

    setCountdownTimer(element, year, month, day);
    function setCountdownTimer(element, year, month, day) {
      var date = new Date(year, month, day, hour, minute, second);
      $(element).countdown({until: date, onExpiry: liftOff});
    }
    function liftOff (){
      location.reload();
    }
  });