%p#notice= notice

%p
  %b Title:
  = @goal.title
%p
  %b Description:
  = @goal.description
%p
  %b Reward:
  = @goal.reward
%p
  %b Users:
  - @goal.users.each do |user|
    = user.username

= link_to 'Edit', edit_goal_path(@goal)
\|
= link_to 'Back', goals_path
