!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Motivate Me"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Motivate Me", :name => "description"}
    %meta{:content => "(Se)Bas", :name => "author"}
    / CSS
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    / FONTS
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet"}
    / FAVICON
    %link{:href => "assets/ico/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    / IE FIXES
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    = render 'layouts/messages'
    = yield
  %footer
    .container
      .footer-border
      .row
        .copyright.span4
          %p
            Copyright 2012 Andia - All rights reserved. Template by
            = succeed "." do
              %a{:href => "http://azmind.com"} Azmind
        .social.span8
          %a.facebook{:href => ""}
          %a.dribbble{:href => ""}
          %a.twitter{:href => ""}
          %a.pinterest{:href => ""}



