!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Motivate Me"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Motivate Me", :name => "description"}
    %meta{:content => "(Se)Bas", :name => "author"}
    / CSS
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    / FONTS
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet"}
    / FAVICON
    %link{:href => "assets/ico/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    / IE FIXES
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body{:class => "#{controller_name} #{action_name}"}
    .container
      .header.row
        .span12
          .navbar
            .navbar-inner
              %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %h1
                = link_to "Motivate Me", root_path
              .nav-collapse.collapse
                %ul.nav.pull-right
                  %li{:class => active_class("home","index")}
                    = link_to root_path do
                      %i.icon-home
                      %br/
                      Home
                  %li{:class => active_class("users")}
                    = link_to user_path(current_user) do
                      %i.icon-user
                      %br/
                      Profiel
                  %li
                    %a{:href => "#"}
                      %i.icon-comments
                      %br/
                      Blog
                  %li
                    %a{:href => "services.html"}
                      %i.icon-tasks
                      %br/
                      Services
                  %li
                    %a{:href => "about.html"}
                      %i.icon-user
                      %br/
                      About
                  %li
                    %a{:href => "contact.html"}
                      %i.icon-envelope-alt
                      %br/
                      Contact
    = render 'layouts/messages'
    = yield
  %footer
    .container
      / .row
      /   .widget.span3
      /     %h4 About Us
      /     %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
      /     %p
      /       %a{:href => ""} Read more...
      /   .widget.span3
      /     %h4 Latest Tweets
      /     .show-tweets
      /   .widget.span3
      /     %h4 Flickr Photos
      /     %ul.flickr-feed
      /   .widget.span3
      /     %h4 Contact Us
      /     %p
      /       %i.icon-map-marker
      /       Address: Via Principe Amedeo 9, 10100, Torino, TO, Italy
      /     %p
      /       %i.icon-phone
      /       Phone: 0039 333 12 68 347
      /     %p
      /       %i.icon-user
      /       Skype: Andia_Agency
      /     %p
      /       %i.icon-envelope-alt
      /       Email:
      /       %a{:href => ""} contact@andia.co.uk
      .footer-border
      .row
        .copyright.span4
          %p
            Copyright 2012 Andia - All rights reserved. Template by
            = succeed "." do
              %a{:href => "http://azmind.com"} Azmind
        .social.span8
          %a.facebook{:href => ""}
          %a.dribbble{:href => ""}
          %a.twitter{:href => ""}
          %a.pinterest{:href => ""}



